<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theonetech.kotlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.theonetech.kotlin.domain.application.GlobalApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.theonetech.kotlin.presentation.view.PhotoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theonetech.kotlin.presentation.view.HomeworkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theonetech.kotlin.presentation.view.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theonetech.kotlin.presentation.view.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.theonetech.kotlin.presentation.view.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>